---

---
<navbar class="flex border relative">
  <div class="logo w-48 float-start">
    <img src="/images/Logo.png" alt="">
  </div>
  <div class="absolute right-1">
    <ul class="flex float-end nav-opt max-[768px]:hidden content ">
      <li class="p-4 "><a href="">Creative</a></li>
      <li class="p-4 "><a href="">Markating</a></li>
      <li class="p-4 "><a href="">E-Commecrce</a></li>
      <li class="p-4 "><a href="">Our Theory</a></li>
      <li class="p-4 "><a href="">Ph No.</a></li>
    </ul>
  </div>
  
 
</navbar>
<style>
  .nav-opt{
    width: auto;
    height: auto;
  }
</style>